input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
h1 {
  padding-left: 20vh;
  font-family: Helvetica;
  font-weight: bold;
  color: #fff;
}
h2 {
  font-family: Helvetica;
  font-weight: bold;
  color: #fff;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.9;
}
input {
  width: 30vh;
  border: 0;
  background-color: #6c6c6c;
  padding: 1vh;
  border-radius: 2vh;
  outline: none;
  font-family: Helvetica;
  color: #fff;
}
select {
  background-color: #6c6c6c;
  padding: 1vh;
  border-radius: 2vh;
  outline: none;
  font-family: Helvetica;
  color: #fff;
}
select option{
  background-color: #6c6c6c;
  padding: 1vh;
  border-radius: 2vh;
  outline: none;
  font-family: Helvetica;
  color: #fff;
}
input[type=submit] {  
  width: 18vh;
  background-color: #fff;
  color: #000;
  font-size: 2vh;
}
label {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 10vh;
  vertical-align: top;
  display: inline-block;
}