/* Estilos generales */
.producto body {
	font-family: Arial, sans-serif;
	background-color: #F3F3F3;
	margin: 0;
	padding: 0;
}

header {
	background-color: #232f3e;
	color: #fff;
	padding: 20px;
	margin-bottom: 10px;
}

main {
	margin: 20px auto;
	max-width: 800px;
	max-height: 100%;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


/* Estilos para la secciÃ³n de producto */
.producto {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.imagen {
	flex: 1 0 50%;
	align-self: center;
}

.imagen img {
	width: 100%;
}

.informacion {
	flex: 1 0 50%;
}

.informacion h1 {
	margin-top: 0;
	font-size: 32px;
}

.informacion p.precio {
	font-size: 24px;
	color: #c45500;
	margin-top: 10px;
}

.informacion p.descripcion {
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.4;
}

.caracteristicas {
	margin-top: 20px;
}

.caracteristicas h2 {
	margin-top: 0;
	font-size: 20px;
}

.caracteristicas ul {
	margin-top: 10px;
	padding-left: 20px;
}

.opciones {
	margin-top: 20px;
}

.opciones h2 {
	margin-top: 0;
	font-size: 20px;
}

/*.opciones label {
	display: block;
	margin-top: 10px;
	font-size: 16px;
}*/

.opciones input[type="number"], .opciones select {
	padding: 5px;
	font-size: 16px;
	margin-top: 5px;
}

.opciones button[type="submit"] {
	background-color: #232f3e;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

.opciones button[type="submit"]:hover {
	background-color: #c45500;
}

.form-control{
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 8px;
    background-color: #fff;
    color: #333;
}