#sectioncan {
  background-color: #3333337d;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1% 1% 1% 1%;
}
#candida {
  padding-top: 0.5%;
  padding-bottom: 10%;
}
/* PETRO */

.petro-candidatos {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 5px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  max-width: 47%;
  text-align: justify;
}
.petro {
  flex: 0 0 200px;
}
.petro img {
  width: 95%;
  height: auto;
}

.petro-details {
  flex: 1;
  padding: 20px;
}

.petro-details h3 {
  font-size: 24px;
  margin: 0 0 10px;
}

.petro-description {
  font-size: 16px;
  color: white;
  margin: 0 0 10px;
  width: 90%;
}
.petro-candidatos img {
  border-radius: 100%;
}
.petro-details a {
  color: white;
  text-decoration: none;
}

/* RODOLFO */

.rodolfo-candidatos {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 5px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  max-width: 47%;
  text-align: justify;
}
.rodolfo {
  flex: 0 0 200px;
}
.rodolfo img {
  width: 95%;
  height: auto;
}

.rodolfo-details {
  flex: 1;
  padding: 20px;
}

.rodolfo-details h3 {
  font-size: 24px;
  margin: 0 0 10px;
}

.rodolfo-description {
  font-size: 16px;
  color: white;
  margin: 0 0 10px;
}
.rodolfo-candidatos img {
  border-radius: 100%;
}
.rodolfo-details a {
  color: white;
  text-decoration: none;
}

/* FICO */

.fico-candidatos {
  right: 0;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 5px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  max-width: 47%;
  text-align: justify;
  float: right;
}
.fico {
  flex: 0 0 200px;
}
.fico img {
  width: 95%;
  height: auto;
}

.fico-details {
  flex: 1;
  padding: 20px;
}

.fico-details h3 {
  font-size: 24px;
  margin: 0 0 10px;
}

.fico-description {
  font-size: 16px;
  color: white;
  margin: 0 0 10px;
}
.fico-candidatos img {
  border-radius: 100%;
}
.fico-details a {
  color: white;
  text-decoration: none;
}
/* FAJARDO */

.fajardo-candidatos {
  right: 0;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 5px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  max-width: 47%;
  text-align: justify;
  float: right;
}
.fajardo {
  flex: 0 0 200px;
}
.fajardo img {
  width: 95%;
  height: auto;
}

.fajardo-details {
  flex: 1;
  padding: 20px;
}

.fajardo-details h3 {
  font-size: 24px;
  margin: 0 0 10px;
}

.fajardo-description {
  font-size: 16px;
  color: white;
  margin: 0 0 10px;
}
.fajardo-candidatos img {
  border-radius: 100%;
}
.fajardo-details a {
  color: white;
  text-decoration: none;
}
