footer {
  background-color: #3333337d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.listaf ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.listaf li {
  margin: 0 10px;
}
.listaf p {
  padding-left: 2.5%;
}
#imgfoofis {
  width: 30vh;
  height: auto;
  padding-right: 5vh;
  padding-top: 10%;
  padding-bottom: 10%;
}
#imgfooregis {
  width: 20vh;
  height: auto;
  padding-right: 5vh;
}
#imgfoogobi {
  width: 30vh;
  height: auto;
  padding-right: 5vh;
}
#imgfoodigi {
  width: 30vh;
  height: auto;
  padding-right: 5vh;
}
#imgfoogov {
  width: 30vh;
  height: auto;
  padding-right: 5vh;
}
#sitiosoficiales {
  font-size: 2vh;
}