input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.votar ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#imagenvoto {
  width: 12vh;
  border-radius: 30%;
}
.formvoto label {
  display: inline-block;
  margin-right: 10px;
}
.horizontal-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.horizontal-list li {
  display: inline-block;
  vertical-align: top;
}
label[for="cedula"] {
  font-size: 2.75vh;
  padding: 1%;
}
#cedula {
  width: 100%;
  padding: 1.5vh;
  margin-bottom: 20px;
  border-radius: 2vh;
  border: 1px solid #ccc;
}
label[for="fecha-expedicion"] {
  font-size: 2.75vh;
  padding: 1%;
}
#fecha-expedicion {
  width: 100%;
  padding: 1.5vh;
  margin-bottom: 20px;
  border-radius: 2vh;
  border: 1px solid #ccc;
}
label[for="nombre"] {
  font-size: 2.75vh;
  padding: 1%;
}
#nombre {
  width: 100%;
  padding: 1.5vh;
  margin-bottom: 20px;
  border-radius: 2vh;
  border: 1px solid #ccc;
}
label[for="apellido"] {
  font-size: 2.75vh;
  padding: 1%;
}
#apellido {
  width: 100%;
  padding: 1.5vh;
  margin-bottom: 20px;
  border-radius: 2vh;
  border: 1px solid #ccc;
}
#identificacion {
  width: 15%;
  margin: 0 auto;
  float: left;
  padding-right: 1%;
}
#personal {
  margin: 0 auto;
}
.sectvotacandi {
  width: 100%;
  font-size: 2vh;
  padding-right: 7.5vh;
}
#votacionform {
  margin: 0 auto;
  float: right;
}
#enviarform {
  padding-left: 3%;
}
input[type="submit"] {
  background-color: #328ab9;
  color: #fff;
  font-size: 2vh;
  width: 12.25vh;
  padding: 1.5vh;
  margin-bottom: 20px;
  border-radius: 2vh;
  border: 1px solid #fff;
}
input[type="submit"]:hover {
  background-color: #bdb04b;
  color: white;
  cursor: pointer;
}
