#imagenvotoresult {
  width: 15vh;
  border-radius: 30%;
}
#infogustavoyrodolfo {
  margin: 0 auto;
  padding-left: 3%;
  width: 100%;
}
#infoficoyfajardo {
  margin: 0 auto;
  padding-left: 3%;
  width: 100%;
}
.horizontal-list-result {
  list-style: none;
  display: flex;
}
.horizontal-list-result li {
  display: inline-block;
  vertical-align: top;
  padding-right: 5%;
}
.horizontal-list-result p {
  font-size: 2.5vh;
}