nav {
  position: relative;
  overflow: visible;
  padding-bottom: 1%;
  z-index: 1;
}
#backgrondnav {
  background-color: #3333337d;
  padding-top: 0.1%;
  padding-bottom: 4.5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav ul {
  list-style-type: none;
}

nav li {
  float: left;
}
nav ul li a {
  position: relative;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: none;
}
nav ul li a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: center;
}
nav ul li a:hover::before {
  transform: scaleX(1);
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 100%;
}
#logo {
  width: 10vh;
  float: left;
  padding: 0px 0px 0px 3%;
}
#perfil {
  width: 8vh;
  float: right;
  padding-right: 5%;
}
#lista {
  float: right;
  padding-right: 5%;
}
#dropdown {
  position: relative;
}

#dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 275%;
  background-color: #fafafa88;
  padding: 0;
  margin: 0;
  z-index: 2;
}

#dropdown:hover ul {
  display: block;
}

#dropdown ul li {
  display: block;
  width: 100%;
}

#dropdown ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

#dropdown ul li a:hover {
  background-color: #0000007d;
  color: #fff;
}
